:root {
  --light-gray: rgb(225, 225, 235);
  --medium-gray: darkgray;
  --main-color: rgb(116, 183, 90);
}

.section,
.multi-section {
  padding: 25px 50px;
  padding-bottom: 35px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.section.collapsed {
  padding-bottom: 25px;
}
.multi-section .section {
  border: solid 1px rgb(205, 205, 205);
  box-shadow: none;
  padding-bottom: 25px;
}
.section h2 {
  cursor: pointer;
  margin: 0px;
  padding: 10px 0px;
  color: dimgray;
}
.spacer {
  background-color: var(--main-color);
  position: relative;
  /* left: -2.5%; */
  width: 100%;
  height: 2px;
  border-radius: 5px;
}
.multi-section .section .spacer {
  display: none;
}
ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li {
  list-style-type: none;
}
.references {
  position: relative;
}
.references .toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}