.section {
  padding: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.section .section {
  border: solid 1px rgb(205, 205, 205);
  box-shadow: none;
}
button {
  align-self: flex-end;
}
ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li {
  list-style-type: none;
}