.section form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 25px;
  margin: 20px 0px;
  margin-bottom: 30px;
}
.multi-section form {
  margin-bottom: 25px;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-container.full {
  grid-column: span 2;
}
.select-container {
  display: flex;
  gap: 25px;
}
label {
  color: dimgray;
  user-select: none;
  font-size: 15px;
}
input, textarea, select {
  border: solid 2px var(--light-gray);
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12.5px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  color: dimgray;
}
textarea {
  grid-column: span 2;
  height: 175px;
  resize: vertical;
}
.multi-section textarea {
  height: 125px;
}
.section-edit-div {
  position: absolute;
}
input::placeholder {
  font-family: inherit;
  font-size: 15px;
  color: dimgray;
}
input:focus-visible {
  outline: none;
  border-color: var(--medium-gray);
}
input:focus-visible::placeholder {
  color: transparent;
}
button {
  position: relative;
  align-self: flex-end;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 2px var(--main-color);
  background-color: var(--main-color);
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  padding: 9px 25px;
  cursor: pointer;
}
.toggle {
  position: relative;
  z-index: 1;
}
.new-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: var(--main-color);
  background-color: transparent;
}
.new-item-button .plus {
  display: block;
  font-size: 35px;
}
.new-item-button p {
  margin: 0px 10px;
}
.save-button {
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.save-button p {
  margin: 0px;
}
.delete-button,
.edit-button {
  background-color: transparent;
  color: gray;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 5px;
  font-size: 18px;
}
.edit-button {
  right: 45px;
}
.position-buttons {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: absolute;
  right: -46.5px;
  top: calc(50% - 65px);
}
.section.saved .position-buttons {
  gap: 5px;
  top: calc(50% - 40px);
}
.position-buttons button {
  background-color: transparent;
  color: var(--medium-gray);
  border-color: transparent;
  transform: rotate(90deg);
  padding: 2.5px 12.5px;
  padding-bottom: 5px;
}